// ----------------------------------------------------- //
// Main style
// ---------------------------------------------------- //

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: #000;
}

a {
  text-decoration: none !important;
}

